[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.9.14"

[packages]
django-cors-headers = "===3.13.0"
psycopg2 = "===2.9.3"
Django = "===3.2.15"
uWSGI = "===2.0.20"
drf-spectacular = "==0.22.1"
django-environ-2 = "==2.3.0"
djangorestframework = "==3.13.1"
django-request-logging = "==0.7.5"
pipenv = "===2022.1.8"
django-split-settings = "*"
django-ipware = "*"
faker = "*"
python-daemon = "*"
psutil = "*"
requests = "*"

[dev-packages]
pylint = "==2.6.0"
flake8 = "*"
ipython = "===7.31.1"
pylint-django = "==2.4.2"
mypy = "*"
django-stubs = "*"
djangorestframework-stubs = "*"
black = "===22.3.0"
pytest = "*"
pytest-django = "*"
